.main {
  width: 90%;
  margin: 0px auto;
  margin-top: 4rem;
}
.greet-main {
  width: 90%;
  margin: 0px auto;
  margin-top: 2rem;
}

.gretting-main {
  width: 90%;
  margin: 0px auto;
}

.greeting-main {
  height: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.button-greeting-div {
  display: flex;
}

.greeting-text {
  margin-top: 30px;
  font-size: 70px;
  line-height: 1.1;
  font-family: "Google Sans Bold";
}

.greeting-nickname {
  font-size: 30px;
  line-height: 0px;
  font-family: "Google Sans Bold Italic";
}

.greeting-text-p {
  font-size: 40px;
  line-height: 40px;
  margin-right: 40px;
  font-family: "Google Sans Medium";
}

.greeting-text-div {
  width: 70%;
}

.greeting-image-div {
  width: 18%;
  height: 100%;
}

.akshay1 {
  width: 100%;
  height: 100%;
  object-fit: cover;
  overflow: hidden;
}

/* Media Query */
@media (max-width: 1380px) {
  .greeting-text {
    font-size: 50px;
  }
  .greeting-text-p {
    font-size: 20px;
  }
}
@media (max-width: 768px) {
  .button-greeting-div {
    justify-content: space-around;
  }
  .greeting-text {
    font-size: 30px;
    margin-top: 0px;
    text-align: center;
  }
  .greeting-nickname {
    font-size: 25px;
    text-align: center;
  }
  .greeting-text-p {
    font-size: 16px;
    margin-right: 0px;
    line-height: normal;
    text-align: center;
  }
  .greeting-main {
    display: block;
  }

  .portfolio-repo-btn-div {
    width: 100%;
    display: flex;
    justify-content: center;
  }
}
